<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    </head>
    <body>
        <h1 style="text-align: center;">The current time and date:</h1>
        <div class="container" style="border: solid 3px black;">
            <h1 style="text-align: center;"> @ViewBag.Example </h1>
        </div>
    </body>
</html>